.our-team{
    background: var(--primary-bg-color);
}
.our-team-list{
@media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.our-team-list__item{
    background: var(--secondary-text-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     @media screen and (max-width:767px) {
          &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px) {
        margin: 15px;
        flex-basis: calc((100% - (2 * 30px)) / 2);
    }
    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - (4 * 30px)) / 4);
    }
}
.our-team-content{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--secondary-text-color);

}
.our-team-content__name {
    @include fonts(500, 16px, 19px);
    text-align: center;
    color: var(--primary-title-color);
}
.our-team-content__profession {
    margin-top: 10px;

    @include fonts(400, 16px, 19px);
    text-align: center;
    color: var(--primary-text-color);
}