.btn{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    outline: none;

    font-family: inherit;
    @include fonts(700, 16px, 30px, 0.06em);
    text-align: center;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        background-color: var(--btn-hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}