@mixin flex-centred(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-row(){
    display: flex;
    justify-content: center;
}
@mixin flex-align(){
    display: flex;
    align-items: center;
}
@mixin fonts($fw, $fs, $lh, $ls:0.03em){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh / $fs;
    letter-spacing: $ls;
}