:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --btn-hover-color:#188ce8;
  --third-color: #2f303a;
  --primary-icon-color:#AFB1B8;
  --secondary-icon-color:#000000;
  --primary-bg-color:#F5F4FA;
  --primary-border-color:#ECECEC;
  --secondary-border-color:#EEEEEE;
}